<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p><input type="text" v-model="usd" />$</p>
      <p><input type="text" v-model="inr" />₹</p>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          usd: 0,
          inr: 0,
        },
        watch: {
          usd: function(val) {
            this.usd = val;
            this.inr = val * 74;
          },
          inr: function(val) {
            this.usd = val / 74;
            this.in2 = val;
          },
        },
      });
    </script>
  </body>
</html>
